# This file contains pin mappings for the LDO Nitehawk-SB Toolboard
# To use this config, the firmware should be compiled for the Raspberry Pi RP2040
# Make sure to include this config *at the end* of printer.cfg to overwrite the relevent sections

# See https://docs.ldomotors.com/en/voron/nitehawk-sb#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the PCB

## LDO Nitehawk-SB Toolboard Partial Config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] sections

## *MAKE SURE* to include this partial config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the pin mappings specified here.

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_3134363332110C75-if00 #/dev/serial/by-id/usb-Klipper_rp2040_45474E621A83BC1A-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   Endstops - Commented to use virtual endstops
#####################################################################

## XES - Toolhead PCB
#[stepper_x]
#endstop_pin: nhk:gpio13

## YES - Toolhead PCB
#[stepper_y]
#endstop_pin: nhk:gpio12

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: nhk:gpio23
dir_pin: !nhk:gpio24
enable_pin: !nhk:gpio25
rotation_distance: 22.4521
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: nhk:gpio9
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: nhk:gpio29
pullup_resistor: 2200
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 170
control = pid
pid_Kp: 27.907 
pid_Ki: 2.189 
pid_Kd: 88.955
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040












[tmc2209 extruder]
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.5
sense_resistor: 0.100
stealthchop_threshold: 0


#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nhk:gpio6
#tachometer_pin: nhk:gpio17
#tachometer_ppr: 2

## HEF
[heater_fan hotend_fan]
pin: nhk:gpio5
#tachometer_pin: nhk:gpio16
#tachometer_ppr: 2

#####################################################################
#   Lights
#####################################################################
##Stealthburner Headlights
[neopixel sb_leds]
pin: nhk:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

## PCB Activity Light
[output_pin act_led]
pin: !nhk:gpio8

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:gpio21
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19

[resonance_tester]
accel_chip: adxl345
probe_points:
    155, 155, 20

#####################################################################
#   Probe
#####################################################################

[probe]
#   This section is heavily edited for Voron TAP compatability. Review their configuration notes here:
#   https://github.com/VoronDesign/Voron-Tap/blob/main/config/tap_klipper_instructions.md
pin: nhk:gpio10
x_offset: 0      ; The physical X distance (mm) from your nozzle to the probe
y_offset: 0      ; The physical Y distance (mm) from your nozzle to the probe
z_offset: 0.0        ; Distance between nozzle and bed when probe triggers (calibrate this!)
speed: 5.0           ; Speed (mm/s) of the z axis during the first approach
samples: 1           ; Number of times to probe a point
samples_result: median # How to process multiple samples (median or average)
sample_retract_dist: 2.0 ; The distance (mm) to lift the probe between samples
lift_speed: 15.0     ; Speed of Z lift between probe samples (if supported)
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
#   Thermistors
# #####################################################################

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor nh_temp]
# Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nhk:gpio26
pullup_resistor: 2200
min_temp: -100
max_temp: 100
gcode_id: nh_th
